# Bundler cache
.bundle
vendor/

# Jekyll cache
.jekyll-cache/
.jekyll-metadata
_site/

# RubyGems
*.gem

# IDE configurations
.idea/
.vscode/
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json

# Node (if used in future)
node_modules/
package-lock.json

# Misc build junk
_sass/vendors/
assets/js/dist/

# Ignore default config if copied
_config.default.yml
